html,
body {
    font-family: 'Roboto', sans-serif;
}

img {
    object-fit: cover;
    width: auto;
    height: auto;
}

.form-check-input:hover {
    cursor: pointer;
}

.widget-menu {
    position: absolute;
    width: auto;
    background: rgb(17, 78, 17);
}

.navbar-widget-btn {
    position: relative;
}

body {
    background-color: rgb(85, 85, 85);
    /* color: white; */
}

.product-card {
    max-width: 1000px;
}

