html,
body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

img {
    object-fit: cover;
    width: auto;
    height: auto;
}

.form-check-input:hover {
    cursor: pointer;
}

.widget-menu {
    position: absolute;
    z-index: 1;
    width: auto;
    height: fit-content;
    background-color: var(--bs-dark);
    background-image: var(--bs-gradient);
    white-space: nowrap;
}

.navbar-widget-btn {
    position: relative;
}

body {
    background-color: rgb(136, 136, 136);
    /* color: black; */
}

.product-card {
    max-width: 1000px;
    /* z-index: -1; */
}

.itemPreview {
    /* position: absolute; */
    z-index: 1;
    /* align-self: center; */
    /* height: auto;
    width: auto; */
    /* margin: auto; */
}

/* .widget {
    background: gray;
} */

.card {
    background-color: var(--bs-dark);
    background-image: var(--bs-gradient);
}

.all-widgets {
    max-width: 1200px;
    
}